@import 'src/styles/bootstrap-variables.scss';
@import 'src/styles/variables.scss';

.routes-menu {
  background: $gray-900;
  border-right: 1px solid lighten($gray-900, 2%);
  width: $routes-menu-width;

  position: relative; // we need this for the resize-column
}

.search-route-wrapper {
  text-align: left;
  width: 100%;

  .search-route-close {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  i {
    font-weight: bold;
  }
}
